* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #f5f5f5;
}

/* NAV SECTION */
nav {
    margin: 0 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    gap: 5rem;
    border-bottom: 1px solid #a3bfa1;
}

.nav-list {
    display: flex;
}

nav ul {
    display: flex;
    gap: 4rem;
    width: 700px;
    margin-left: -2rem;
}

nav ul li {
    list-style: none;
    color: #1c1c1c;
}

nav a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: #1c1c1c;
}

nav ul li .active {
    color: #ffd700;
}

nav ul li a:hover,
nav ul li a:active {
    color: #217103;
    transition: ease-in-out 500ms;
}

nav .cta a {
    border: none;
    padding: 15px;
    border-radius: 8px;
}

nav .cta .sign-up {
    width: 111px;
    margin-right: 5px;
    background-color: #a3bfa1;
}

nav .cta .login {
    width: 93px;
    background-color: #217103;
    color: white;
}

nav .hambugerbtn,
nav .closebtn {
    width: 30px;
    height: 30px;
    display: none;
}

nav .hambugerbtn .bar,
nav .closebtn .bar {
    width: 25px;
    height: 3px;
    margin: 4px;
    border-radius: 8px;
    background-color: #1c1c1c;
}

nav .closebtn .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}

nav .closebtn .bar:nth-child(2) {
    opacity: 0;
}

nav .closebtn .bar:nth-child(3) {
    transform: translateY(-7.5px) rotate(-45deg);
}

/* HERO SECTION */
.hero-container {
    margin: 0 70px;
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    gap: 80px;
}

.hero-text {
    width: 100%;
}

.hero h1 {
    width: 100%;
    color: #1c1c1c;
    font-size: 64px;
    font-style: 700;
    line-height: 72px;
    margin-bottom: 20px;
}

.hero h1 span {
    color: #ffd700;
}

.hero p {
    color: #1c1c1c;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    margin: 20px 0;
    width: 85%;
}

.hero button {
    margin-top: 20px;
    padding: 12px;
    background-color: #217103;
    color: #ffffff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
}

.hero button:hover {
    background-color: #a3bfa1;
    color: #1c1c1c;
    transition: ease-in-out 300ms;
}
.hero-img {
    width: 60%;
}

.hero-img .img1 {
    position: absolute;
}

.hero-img .img2 {
    top: 65%;
    right: 30%;
    position: relative;
}

.hero-text .mobileimg {
    display: none;
}

/* WHY SECTION */
.whyGreencart {
    margin: 15% 0 10% 0;
}

.whyGreencart h2 {
    font-weight: 600;
    font-size: 56px;
    text-align: center;
    margin: 20px 0;
}

.whyGreencart h2 span {
    color: #217103;
}

.whyGreencartText {
    width: 700px;
    margin: 0 auto;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
}

.bulletReasons {
    display: flex;
    justify-content: space-between;
    margin: 70px;
}

.reasons {
    text-align: center;
    width: 305px;
}

.img5 {
    margin-bottom: -12px;
}

.buttontext {
    text-align: center;
    background-color: #217103;
    padding: 20px;
    border-radius: 8px;
    color: #ffffff;
    font-size: 18px;
    margin: 15px 0;
}

.reasons p {
    text-align: left;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
}

/* HOW IT WORKS SECTION*/

.HowItWorks {
    margin: 0px 70px;
}

.HowItWorks h2 {
    font-weight: 600;
    color: #1c1c1c;
    font-size: 56px;
    text-align: center;
}

.HowItWorks h2 span {
    color: #ffd700;
}

.flex {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: 70px 0;
}

.grid1,
.grid4 {
    background-color: #217103;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}

.grid1 .step,
.grid4 .step {
    border: transparent;
    padding: 8px;
    width: 100px;
    color: #ffffff;
    text-align: center;
    border-radius: 8px;
    background-color: #ffd700;
    margin: 10px 0;
}

.grid4 .step {
    margin: 10px auto;
}

.grid1 p,
.grid4 p {
    color: #ffffff;
    margin: 20px 0;
}

.grid1 h3,
.grid4 h3 {
    font-size: 24px;
    font-weight: 500;
    color: #ffffff;
}

.grid4 h3 {
    text-align: center;
}

.grid2,
.grid3 {
    background-color: #a3bfa1;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    margin-top: 20px;
}
.grid3 {
    margin-top: 30px;
}

.grid2 .step,
.grid3 .step {
    border: none;
    padding: 8px;
    width: 100px;
    color: #ffffff;
    border-radius: 8px;
    background-color: #217103;
    margin: 10px auto;
    text-align: center;
}

.grid2 h3,
.grid3 h3,
.grid5 h3 {
    color: #217103;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.grid2 p,
.grid3 p,
.grid5 p {
    color: #1c1c1c;
    margin: 20px 0;
    text-align: left;
}

.grid5 {
    border: 2px solid #ffd700;
    margin-top: 30px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.grid5 .step {
    background-color: #217103;
    color: #ffffff;
    width: 100px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    padding: 8px;
    margin: 10px auto;
    border-radius: 8px;
}

/* BLOG SCETION */
.blog {
    margin: 0 70px;
}
.blog h2 {
    font-size: 56px;
    font-weight: 600;
    color: #1c1c1c;
    text-align: center;
}

.blog h2 span {
    margin: 20px 0;
    color: #217103;
}

.blog p {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin: 20px 0;
    color: #1c1c1c;
}

.blogPost {
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    /* gap: 30px; */
}

.blogArticles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.blogPostText {
    width: 230px;
    line-height: 40px;
    color: #1c1c1c;
    font-weight: 600;
    font-size: 24px;
    margin-top: -30px;
}

.blogPostText p {
    text-align: left;
}

.blogPostText button {
    background-color: #217103;
    color: #ffffff;
    padding: 15px;
    border: none;
    font-weight: 500;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}

.blogPostText button:hover {
    color: #1c1c1c;
    background-color: #a3bfa1;
    transition: ease-in-out 300ms;
}

.discover {
    width: 100%;
    background-color: #217103;
    padding: 50px 0;
    text-align: center;
    margin: 10% 0 5% 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.discover h3 {
    width: 70%;
    margin: 0 auto;
    color: #ffffff;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
}

.discover button {
    background-color: #ffd700;
    color: #1c1c1c;
    padding: 12px;
    border-radius: 8px;
    border: none;
    font-weight: 500;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.discover button:hover {
    background-color: #f8df4f;
    transition: ease-in-out 300ms;
}

/* FOOTER  SECTION*/
.footerDiv {
    margin: 0 70px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.footerDiv h4 {
    color: #217103;
    font-weight: 500px;
    font-size: 18px;
    margin-bottom: 25px;
}

.footerDiv .aboutUs {
    width: 22%;
}

.footerDiv .aboutUs p {
    font-size: 14px;
    font-weight: 500;
    color: #1c1c1c;
    line-height: 32px;
}

.footerDiv .ContactUs p,  .footerDiv .ContactUs label{
    font-size: 14px;
    font-weight: 500;
    color: #1c1c1c;
    line-height: 32px;
}

.footerDiv .ContactUs span {
    color: #ffd700;
}

.footerDiv .aboutUs ul li {
    margin: 10px;
    list-style: none;
    font-size: 14px;
    font-weight: 400;
}

.footerDiv .aboutUs ul li a {
    text-decoration: none;
    color: #217103;
    list-style: none;
}

.footerDiv .ContactUs input {
    background-color: #d9d9d9;
    padding: 20px;
    border: none;
    outline: none;
    border-radius: 8px;
}

.footerDiv .ContactUs img {
    margin: 10px 10px 0 0;
    cursor: pointer;
}

.copyright {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

/* MOBILE VIEW */
@media screen and (max-width: 909px) {
    /* .container {
        padding: 15px;
    } */

    nav img {
        margin-left: -12px;
    }

    .nav-list {
        position: fixed;
        flex-direction: column;
        background-color: #f5f5f5;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 100%;
        transition: 500ms;
        padding: 30px;
        align-items: flex-start;
        gap: 40px;
    }

    .nav-list.active {
        left: 0%;
    }

    nav ul {
        padding: 10px;
        margin: 0;
        width: 100%;
        display: block;
        
    }


    nav ul li {
        border-bottom: 1px solid #D9D9D9;
        padding: 30px 0;
        display: flex;
        align-items: center;
    }

    nav .hambugerbtn,
    nav .closebtn {
        display: block;
    }

    nav .closebtn {
        margin-left: 90%;
    }

    nav {
        margin: 0;
        border: none;
        padding: 15px;
    }

    /* HERO SECTION */

    .hero-container {
        display: block;
        margin: 0;
        text-align: center;
        padding: 15px;
    }

    .hero-text h1 {
        width: 100%;
        font-size: 24px;
        line-height: 28px;
        margin: 20px auto;
        text-align: center;
    }

    .hero-text p {
        width: 100%;
        text-align: left;
    }

    .hero-img .img1,
    .hero-img .img2 {
        display: none;
    }

    .hero-text .mobileimg {
        display: block;
        width: 100%;
    }

    .hero-text {
        width: 100%;
    }

    .whyGreencart {
        width: 100%;
        margin: 50px 0;
        padding: 15px;
    }

    .whyGreencart h2 {
        font-size: 24px;
        text-align: left;
    }

    .whyGreencartText {
        width: 100%;
    }

    .bulletReasons {
        display: block;
        margin: 0;
    }

    .reasons {
        width: 100%;
        margin: 20px 0;
    }

    .reasons img {
        width: 20%;
    }

    .buttontext {
        padding: 15px;
        font-size: 16px;
        width: 69%;
        margin-left: auto;
        margin-right: auto;
    }

    .HowItWorks {
        margin: 0;
        padding: 15px;
    }

    .HowItWorks h2 {
        font-size: 24px;
        width: 100%;
    }

    .flex {
        display: block;
    }

    .flex img {
        width: 100%;
    }

    .grid1 .step {
        margin: 0 auto;
    }

    .grid1 h3,
    .grid2 h3,
    .grid3 h3,
    .grid4 h3,
    .grid5 h3 {
        text-align: center;
        margin: 10px 0;
        font-size: 20px;
    }

    .grid1 p,
    .grid2 p,
    .grid3 p,
    .grid4 p,
    .grid5 p {
        font-size: 16px;
    }

    .blog {
        margin: 0;
        padding: 15px;
    }

    .blog p {
        line-height: 32px;
    }

    .blog h2 {
        font-size: 24px;
    }

    .blogPost {
        display: block;
    }

    .blogArticles {
        display: block;
        margin: 20px 0;
    }

    .blogArticles img {
        width: 100%;
    }

    .blogPostText {
        width: 100%;
        text-align: center;
        margin: 20px 0;
    }

    .discover {
        padding: 15px;
    }

    .discover h3 {
        font-size: 20px;
        line-height: 30px;
    }

    .discover button {
        font-size: 15px;
    }

    .footerDiv {
        display: block;
        margin: 0;
        padding: 15px;
    }

    .footerDiv .aboutUs,
    .footerDiv .ContactUs {
        width: 100%;
    }

    .footerDiv .ContactUs {
        margin-top: 20px;
    }

    .footerDiv h4 {
        margin-bottom: 5px;
    }

    .copyright {
        font-size: 12px;
    }
}
