:root {
    --color1: #fff;
    --color2: #217103;
    --color3: #a3bfa1;
    --color4: #FFD700;
    --color5: #D9D9D9;
    --color6: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

button {
    cursor: pointer;
}

body{
    display: flex;
}

/* LOADER */
#loader{
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
}

#loader.active{
    display: none;
}

#loader img{
    transform: scale(0.15);
    animation: twirl 1s linear infinite;
}

@keyframes twirl {
    from {
        transform: scale(0.15) rotate(360deg);
    }
}

/*NAV*/
nav {
    position: fixed;
    width: 24vw;
    height: 100vh
}

#top-nav {
    width: 100%;
    background-color: var(--color1);
    display: flex;
    margin: 0 auto;
    padding: 13px 0;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}

#logo-container {
    width: 139px;
    height: 32px;
}

#logo-container img {
    width: 100%;
    height: 100%;
}

#hamburger-menu {
    display: none;
}

#user-menu {
    background-color: var(--color2);
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;   
    height: calc(100vh - 58px);
}

.menu-dp {
    width: 132px;
    height: 132px;
    margin: 20px auto;
}

.dp img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#user-menu h3, 
#user-menu h2, 
#user-menu p, 
#user-menu a {
    color: var(--color1);
}

#nav-links {
    display: flex;
    flex-direction: column;
    gap: 21px;
    margin: 30px auto 50px 90px;
}

.list-item {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 1.2rem;
}

.list-name {
    font-size: 17px;
    font-weight: 500;
}

#user-footer {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 2rem;
    padding-bottom: 15px;
}

.footer-dp {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#footer-name {
    font-size: 15px;
    font-weight: 500;
}

#footer-info a {
    font-size: 11px;
}


/* Main Section */
#main-section {
    width: 76vw;
    margin-left: 24vw;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

#main-head {
    width: 95%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}

#main-text h2,
.highlight-figure {
    color: var(--color2);
    font-size: 40px;
    font-weight: 600;
}

#main-text p,
.highlight-title {
    color: #1C1C1CBF;
    font-size: 18px;
    font-weight: 600;
    margin-top: 4px;
}

#main-search {
    width: 480px;
    height: 40px;
    border-radius: 8px;
    background-color: #D1DFD0;
    display: flex;
    justify-items: center;
    align-items: center;
    padding-left: 20px;
    gap: 15px;
    margin-top: 10px;
}

#main-search p {
    font-size: 18px;
    font-weight: 600;
    color: var(--color2);
}

#highlights {
    display: flex;
    width: 95%;
    justify-content: space-between;
    margin: 10px auto;
}

.highlight {
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 1px 1px 0px #00000040;
}

.highlight-title, 
.highlight-figure {
    margin-top: 20px;
}

#activity-btn {
    padding: 13px;
    color: #1C1C1C;
    background-color: var(--color4);
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    margin: 30px auto;
}

#activity-section {
    width: 95%;
    margin: 50px auto;
}

#activity-head {
    font-size: 32px;
    font-weight: 500;
    color: var(--color2);
    text-align: left;
}

#activities {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.activity {
    width: 440px;
    height: 170px;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid var(--color2);
    border-radius: 8px;
    padding: 20px 30px;
    margin-top: 30px;
}

.activity3,
.activity4 {
    height: 210px;
}

.listing {
    font-size: 18px;
    font-weight: 600;
    color: #1C1C1C;
    line-height: 40px;
    text-align: left;
    justify-items: center;
}


@media screen and (max-width:1026px) {

    body{
        flex-direction: column;
    }

    nav {
        width: 99vw;
        height: 72px;
        margin: 0;
        position: relative;
    }

    #top-nav {
        width: 100%;
        padding: 20px;
    }

    #logo-container {
        margin-left: -15px;
    }

    #hamburger-button {
        display: flex;
        height: 30px;
        width: 30px;
        flex-direction: column;
        gap: 4px;
        justify-items: center;
        align-items: center;
        transition: all 500ms ease-in-out;
    }

    #hamburger-button div {
        width: 25px;
        height: 3px;
        background-color: #1C1C1C;
        border-radius: 8px;
    }

    #hamburger-button.active div:nth-child(1) {
        transform: translateY(7px) rotate(45deg);
    }

    #hamburger-button.active div:nth-child(2) {
        opacity: 0;
    }

    #hamburger-button.active div:nth-child(3) {
        transform: translateY(-7.5px) rotate(-45deg);
    }

    #user-menu {
        position: fixed;
        width: 100vw;
        margin: 0;
        left: 100%;
        transition: 500ms;   
        height: calc(100vh - 72px);
    }

    #user-menu.active {
        left: 0%;
    }

    #main-section {
        width: 99vw;
        margin-left: 0;
    }

    #main-head {
        margin-top: 25px;
        flex-direction: column;
    }

    #main-search {
        width: 100%;
        margin-top: 30px;
    }

    #highlights {
        flex-direction: column;
    }

    .highlight {
        margin: 30px auto;
    }

    .highlight-title {
        text-align: center;
    }

    .activity {
        height: 210px;
    }

}