:root {
    --color1: #fff;
    --color2: #217103;
    --color3: #a3bfa1;
    --color4: #FFD700;
    --color5: #D9D9D9;
    --color6: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

button {
    cursor: pointer;
}

body{
    display: flex;
}

nav {
    position: fixed;
    width: 24vw;
    height: 100vh
}

#top-nav {
    width: 100%;
    background-color: var(--color1);
    display: flex;
    margin: 0 auto;
    padding: 13px 0;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}

#logo-container {
    width: 139px;
    height: 32px;
}

#logo-container img {
    width: 100%;
    height: 100%;
}

#hamburger-menu {
    display: none;
}

#user-menu {
    background-color: var(--color2);
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;   
    height: calc(100vh - 58px);
}

#user-head {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 15px;
    margin: 30px 0 0 40px;
}

.menu-dp {
    width: 60px;
    height: 60px;
    margin: 30px auto;
}

.dp img {
    width: 100%;
    height: 100%;
}

#menu-name {
    font-size: 17px;
    font-weight: 500;
}

#menu-info a {
    font-size: 12px;
}

#user-menu h3, 
#user-menu h2, 
#user-menu p, 
#user-menu a {
    color: var(--color1);
}

#nav-links {
    display: flex;
    flex-direction: column;
    gap: 21px;
    margin: 0 auto 30px 85px;
}

.list-item {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 1.2rem;
}

.list-name {
    font-size: 17px;
    font-weight: 500;
}


/* Main Section */
#main-section {
    width: 76vw;
    margin-left: 24vw;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-bottom: 30px;
}

#main-head {
    width: 95%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}

#main-text h2 {
    color: var(--color2);
    font-size: 40px;
    font-weight: 600;
}

#main-text p {
    color: #1C1C1CBF;
    font-size: 18px;
    font-weight: 600;
    margin-top: 4px;
}

#profile {
    justify-items: center;
    align-items: center;
    margin-top: 20px;
}

#profile-image {
    height: 250px;
    width: 250px;
    background-color: #00000033;
    border-radius: 50%;
}

#profile-image img {
    height: 100%;
    width: 100%;
}

#user-name {
    font-size: 36px;
    font-weight: 700;
    color: var(--color2);
    margin-top: 30px;
}

#profile button {
    width: 80px;
    height: 50px;
    background-color: var(--color4);
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    margin: 20px auto;
}

#options {
    display: flex;
    width: 95%;
    gap: 250px;
    justify-items: center;
    margin-top: 30px;
}

.option-header {
    display: flex;
    gap: 1rem;
    justify-items: center;
    align-items: center;
}

.option-header h3 {
    color: var(--color2);
}

.option-header { 
    margin-bottom: 20px;
}

label,
#business-name {
    font-size: 18px;
    font-weight: 500;
    color: #1C1C1C;
}

#business-name {
    border: 2px solid var(--color2);
    border-radius: 8px;
    height: 45px;
    width: 330px;
    margin-top: 10px;
}

.option button {
    height: 50px;
    width: 140px;
    background-color: var(--color3);
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
    color: #1C1C1C;
}

@media screen and (max-width:1026px) {
    
    body{
        flex-direction: column;
    }

    nav {
        width: 99vw;
        height: 72px;
        margin: 0;
        position: relative;
    }

    #top-nav {
        width: 100%;
        padding: 20px;
    }

    #logo-container {
        margin-left: -15px;
    }

    #hamburger-button {
        display: flex;
        height: 30px;
        width: 30px;
        flex-direction: column;
        gap: 4px;
        justify-items: center;
        align-items: center;
        transition: all 500ms ease-in-out;
    }

    #hamburger-button div {
        width: 25px;
        height: 3px;
        background-color: #1C1C1C;
        border-radius: 8px;
    }

    #hamburger-button.active div:nth-child(1) {
        transform: translateY(7px) rotate(45deg);
    }

    #hamburger-button.active div:nth-child(2) {
        opacity: 0;
    }

    #hamburger-button.active div:nth-child(3) {
        transform: translateY(-7.5px) rotate(-45deg);
    }

    #user-menu {
        position: fixed;
        width: 100vw;
        height: calc(100vh - 72px);
        margin: 0;
        left: 100%;
        transition: 500ms;
    }

    #user-menu.active {
        left: 0%;
    }

    #main-section {
        width: 99vw;
        margin-left: 0;
    }

}