:root {
    --color1: #fff;
    --color2: #217103;
    --color3: #a3bfa1;
    --color4: #FFD700;
    --color5: #D9D9D9;
    --color6: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

button {
    cursor: pointer;
    border: none;
}

body {
    background-color: var(--color1);
}

nav {
    width: 95%;
    display: flex;
    margin: 0 auto;
    padding: 20px 0;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    border-bottom: 1px solid var(--color3);
}

#menu {
    display: flex;
    gap: 7rem;
    justify-items: center;
    align-items: center;
}

#logo-container {
    width: 139px;
    height: 32px;
}

#logo-container img {
    width: 100%;
    height: 100%;
}

#nav-links {
    display: flex;
    gap: 4rem;
    justify-items: center;
    align-items: center;
}

.nav-link a {
    color: var(--color6);
    font-size: 16px;
    font-weight: 500;
    transition: 500ms;
}

.nav-link a:hover {
    color: #217103;
}

.nav-link.active a {
    color: var(--color4);
}

#user-section {
    margin-left: 200px;
}

#user-section button {
    font-size: 16px;
    font-weight: 500;
    padding: 12px;
    border: none;
    border-radius: 8px;
}

#sign-up {
    background-color: var(--color4);
}

#login {
    background-color: var(--color2);
    color: var(--color1);
}

#hamburger-button
, #close-button {
    display: none;
}


/* Main Section */
#main-section {
    width: 85%;
    margin: 80px auto 50px;
}

#main-section h2 {
    font-size: 56px;
    text-align: center;
}

#main-section h2 span {
    color: var(--color4);
}

#steps {
    width: 100%;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 30px;
}

.step-grid {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 30px;
    margin: 0 auto;
}

.step {
    padding: 35px 30px;
    height: 325px;
    border-radius: 8px;
}

.step1, 
.step4 {
    background-color: var(--color2);
}

.step2, 
.step3 {
    background-color: var(--color3);
}

.step1 {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.step0 {
    width: 480px;
    height: 370px;
}

.step0 img {
    width: 100%;
    height: 100%;
}

.step div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    justify-content: center;
    gap: 15px;
    align-items: center;
    justify-items: center;
}

.step1 div {
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px;
}

.step h3 {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.step p {
    font-size: 16px;
    font-weight: 400;
    color: #1C1C1C;
    line-height: 32px;
    width: 237px;
}

.step1 p {
    width: 427px;
}

.step1 h3, 
.step1 p, 
.step4 h3, 
.step4 p {
    color: var(--color1);
}

.step2 h3,
.step3 h3 {
    color: var(--color2);
}

.step-button {
    width: 100px;
    height: 48px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
    color: var(--color1);
    background-color: var(--color2);
}

.step1 .step-button,
.step4 .step-button {
    color: var(--color6);
    background-color: var(--color4);
}

/*Footer Section*/
footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: white;
}

#footer-head {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: var(--color2);
    padding: 32px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

#footer-head h2 {
    color: var(--color1);
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-align: center;
    max-width: 730px;
}

#footer-head button {
    padding: 7px 15px;
    background-color: var(--color4);
    border: none;
    border-radius: 8px;
    margin-top: 20px;
}

#footer-head button p {
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
}

#footer-main {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 30px auto;
}

#footer-logo {
    margin-left: -20px;
    margin-bottom: 20px;
}

#business-info {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#business-info p, 
#business-info label, 
#business-info input, 
.footer-link {
    font-size: 14px;
    text-align: left;
    line-height: 26px;
    font-weight: 500;
    color: #1C1C1C;
}

.footer-part h3 {
    color: var(--color2);
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

.footer-part.about{
    width: 250px;
}

.footer-part.about h3 {
    color: var(--color6);
}

.footer-part.about p {
    max-width: 270px;
}

#footer-links {
    margin-top: 20px;
}

.footer-link {
    list-style: disc;
    margin-left: 20px;
}

.footer-link::marker {
    color: var(--color2);
}

.footer-link a {
    color: var(--color2);
    font-weight: 500;
}

.footer-part.contact p{
    margin-bottom: 10px;
}

.footer-part.contact p a{
    color: var(--color4);
}

#social-links {
    width: 175px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}

.footer-part.legal p {
    margin-bottom: 10px;
    min-width: 110px;
}

.footer-part.legal a {
    font-weight: 500;
    font-size: 14px;
    color: #1C1C1C;
}

.footer-part.news p {
    margin-bottom: 10px;
}

.footer-part.news input {
    margin: 7px 0 10px;
    background-color: #D9D9D9;
    border: none;
    height: 40px;
    border-radius: 8px;
    width: 100%;
}

#copyright {
    display: flex;
    width: fit-content;
    margin: 30px auto 5px;
    justify-items: center;
    align-items: center;
}

#copyright svg {
    margin-right: 10px;
}

#copyright p {
    font-size: 16px;
    font-weight: 500;
}

/* Mobile and Tablet View */
@media screen and (max-width:1026px) {

    #hamburger-button
    , #close-button {
        display: flex;
        height: 30px;
        width: 30px;
        flex-direction: column;
        gap: 4px;
        justify-items: center;
        align-items: center;
    }

    #close-button {
        margin-left: 80vw;
    }

    #hamburger-button div
    , #close-button div {
        width: 100%;
        height: 3px;
        background-color: #1C1C1C;
        border-radius: 8px;
    }

    #close-button div:nth-child(1) {
        transform: translateY(7px) rotate(45deg);
    }

    #close-button div:nth-child(2) {
        opacity: 0;
    }

    #close-button div:nth-child(3) {
        transform: translateY(-7.5px) rotate(-45deg);
    }

    .nav-link.active a {
        color: #1C1C1C;
    }

    .nav-link.active a:hover {
        color: var(--color2);
    }

    #user-section {
        margin-left: 0;
    }

    #sign-up {
        background-color: var(--color3);
    }

    #login {
        background-color: var(--color2);
        color: var(--color1);
    }

    #nav-links {
        position: fixed;
        flex-direction: column;
        background-color: #f5f5f5;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 100%;
        transition: 500ms;
        padding: 30px;
        align-items: flex-start;
        gap: 40px;
    }

    #nav-links.active {
        left: 0%;
    }

    .nav-link {
        width: 88%;
        text-align: left;
        border-bottom: 1px solid #D9D9D9;
        display: flex;
        align-items: center;
        padding-bottom: 40px;
    }

    .nav-link a {
        font-size: 18px;
    }

    #main-section h2 {
        font-size: 46px;
    }

    #steps {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .step-grid {
        width: 100%;
        justify-items: center;
        align-items: center;
        gap: 20px;
    }
    
    .step {
        width: 85%;
        height: 350px;
        display: flex;
        flex-direction: column;
        padding: 30px 10px;
        align-items: center;
        justify-items: center;
    }

    .step0 {
        margin-left: 80px;
        width: 300px;
        height: 330px;
    }

    .step p {
        font-size: 14px;
        width: 85%;
        text-align: center;
    }

    .step1 {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    .step1 div {
        flex-direction: column;
        gap: 15px;
    }

    #footer-head {
        padding: 15px;
    }

    #footer-head h2 {
        font-size: 20px;
        line-height: 30px;
        max-width: 80%;
    }

    #business-info {
        flex-direction: column;
    }

    #footer-logo {
        margin-bottom: 0;
    }

    .footer-part {
        margin-top: 25px;
    }

    .footer-part.about p {
        width: 500px;
    }

    .footer-part.news input {
        width: 32%;
    }

}